*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-500: #319e43;
  --primary-600: #1b5e20;
  --secondary-500: #1976d2;
  --secondary-600: #0d47a1;
}

body.abastecemos {
  --primary-500: #319e43;
  --primary-600: #1b5e20;
  --secondary-500: #1976d2;
  --secondary-600: #0d47a1;
}

body.tobar {
  --primary-500: #b71c1c;
  --primary-600: #7f0000;
  --secondary-500: #ff9800;
  --secondary-600: #e65100;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

@media screen and (max-width: 480px) {
  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}
