.fade-enter {
  opacity: 0;
  transform: translateY(-5px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(5px);
  transition: all 0.4s ease;
}
